{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!-- End Header -->
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" style="background-color:  #221B00;">

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12  pt-lg-0 order-2 order-lg-1 d-flex align-items-center" >
        <div data-aos="zoom-out" style="padding-top: 130px; align-items: center;" >
          <h1 style=" text-align: center; font-size: 80px;">Re-imagining <span style="color: #FEBF00; " >Financial </span>
           <span style="color: #FEBF00; " >Health  </span>for youths.</h1><br>
          <p  style="font-weight: lighter; font-size: 36px; text-align: center; color: white; padding-top: 50px;">Building friendly digital tools to enable youths to save, invest and build a financial health using saving group methodologies, AI, machine learning, data and 4iR technology.</p>
        <!--  <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>-->
        </div>
      </div>
<!--        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
        <img src="assets/img/Home-pic2.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
    </g>
  </svg>
-->
</section>
<!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="margin-top: 30px;">
      <div class="container" >
        <div class="row" style="padding-left: 0px; ">
         <!-- <p style="font-weight: light; font-size: 36px; color: black;">About Us</p> -->
          <p style="font-size: 70px; font-weight:light ; color: black; margin-top: 30px;">We are building youths friendly financial inclusion tools.</p>
          <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center" data-aos="">
            <p  style="text-align: center; font-size: 36px; font-weight:lighter;text-align: justify; margin-top: 10px; color: black;">We are determined to provide digital solutions to savings groups member who don't have access to friendly tools to save, borrow, invest, and learn key financial skills. Our users will enjoy a fresh mobile friendly saving group lifestyle with features like; 
            </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100" style="font-weight: lighter; font-size: 36px; text-align: left; color: rgb(0, 0, 0);">
              
                  <p><img src="../static/img/Group210.png"> Easy group management</p>
                  <p><img src="../static/img/Group210.png"> Instant transfers</p>
                  <p><img src="../static/img/Group210.png"> User cash back rewards</p> 
                  <p><img src="../static/img/Group210.png"> Track your credit score</p>
                  <p><img src="../static/img/Group210.png"> Bank-grade security</p>
                  <p><img src="../static/img/Group210.png"> Real-time notifications</p>                 
            </div>
          </div>
          <div class="col-xl-6 col-lg-6  d-flex justify-content-center align-items-stretch" data-aos="fade-right" style="height: 500px;">
             <img src="../static/img/Group761.png">
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container"  style="height: 1000px; background-color: #F8EDCB;">
      <div class="row" data-aos="fade-left" style="padding-top: 70px; padding-left: 20px;">
      
        <div class="col-lg-6 col-md-4 mt-4">
         <h1 style="font-size: 78px; color: #FEBF00;"><span style="color: #000000;">Our</span> mission</h1>
        </div>
        <div class="col-lg-6 col-md-4 mt-4">
         <p  style="font-size: 40px; color: black;">To help social entrepreneurs in East Africa to build a good financial health, access more funding to grow their businesses faster.</p>
        </div>
    </div>
    <div class="row" data-aos="fade-left" style="padding-top: 70px; padding-left: 20px;">
      
      <div class="col-lg-6 col-md-4 mt-4">
        <h1 style="font-size: 78px; color:#FEBF00;"><span style="color: #000000;">Our</span> Vission</h1>
      </div>
      <div class="col-lg-6 col-md-4 mt-4">
       <p  style="font-size: 40px; color: black;">To be a solution that positively redefines youth's relationship with money and enables them to build wealth using modern technology.</p>
      </div>
  </div>
  </section>
  <!-- End Features Section -->



  <!-- Built nex generation -->
  <!--
  <section>
    <div class="section-header">
      <h2>Built for the next generation <br>of financial freedom</h2>
    </div>

    <div class="container p-3">
      <div class="row px-2  justify-content-center align-items-center"
        style="background-color: #FEBF00;border-radius: 20px;">
        <div class="builtNextGenText col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          <h3>Relax.All your financial<br>stresses managed in one place.</h3>
          <p>Pay and get paid like never before.Auto-generate<br> invoices, send reminders, schedule payments and<br>
            instantly access money when someone pays you.
          </p>

          <div class="btn btn-primary px-3" style="border-color: black; border-radius: 40px;background-color: black;">
            <h5 style="margin-bottom:0px;">Join a saving group</h5>
          </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          <img src="{% static  'img/next_generation.png' %}" class="img-fluid builtNextGen">
        </div>
      </div>
    </div>
    </div>

  </section>
  -->
  <!-- Built nex generation 2 -->
  <!--
  <section>
    <div class="container mt-5">
      <div class="row px-2  justify-content-center align-items-center"
        style="background-color: #F8EDCB;border-radius: 20px;">
        <div class="builtNextGenText order-lg-1 col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          <h3>Smart dashboard<br>powerful intergrations<br>to imporve your kikoba.</h3>
          <p>Our dashboard is simple to<br>navigate and packed with<br>accounting platforms like<br>
            Quickbooks
          </p>

          <div class="btn btn-primary px-3" style="border-color: black; border-radius: 40px;background-color: black;">
            <h5 style="margin-bottom:0px;">Create your first group</h5>
          </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          <img src="{% static  'img/next_generation_2.png' %}" class="img-fluid builtNextGen">
        </div>
      </div>
    </div>
    </div>
  </section>
  -->
  <!-- ======= Clients Section ======= -->
  <!--
  <section id="partners" class="clients">
    <div class="section-header">
      <h2>Trusted Partners</h2>
    </div>

    <div class="container" data-aos="zoom-out">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="{% static  'img/clients/making_cents.png' %}" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide"><img src="{% static  'img/clients/mingati.png' %}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static  'img/clients/psla.png' %}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static  'img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static  'img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static  'img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
         <div class="swiper-slide"><img src="{% static  'img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static  'img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
        </div>
      </div>

    </div>
  </section>
-->
  <!-- End Clients Section -->

  <!-- ======= Contact Section ======= -->
  <!--
  <section id="contact" class="contact" style="background-color: #F8EDCB;">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contact Us</h2>
      </div>
      <form action="" method="POST">

        {% for message in messages %}
        <h4 style="color: red;">{{message}}</h4>
        {% endfor %}

        {% csrf_token %}
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <input type="text" placeholder="Your Name" name="name" required class="form-control m-3">
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <input type="email" placeholder="Your Email" name="email" required class="form-control m-3">
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <input type="text" placeholder="Phone" name="phone_number" required class="form-control m-3">
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <input type="text" placeholder="Subject" name="subject" required class="form-control m-3">
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 m-3">
            <textarea placeholder="Message" class="form-control" name="message" required cols="3"></textarea>
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 m-3">
            <div class="d-flex flex-row">
              <input type="checkbox" required>
              <p class="mx-2" style="margin-bottom: 0px;">I agree that braintree may contact me at the email address or
                phone number above.</p>
            </div>
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 m-3">
            <div class="d-grid">
              <button class="btn btn-warning"  name="contactUsButton" type="submit" style="color: white;">Send Message</button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </section>
-->
  <!-- End Contact Section -->

  <section id="contact">
    <div class="container">
      <div class="row align-items-center justify-content-center p-5"
        style="border-radius: 20px;">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-1 col-sm-12 col-xs-12 col-12" style="align-items: c;">
          <h3 style="text-align: center; color: black;font-size: 70px; font-weight: 400;">Join our community and get our latest updates.</h3>
          
        
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

          <form action="" method="POST">

            {% for message in messages %}
            <h4 style="color: green;">{{message}}</h4>
            {% endfor %}

            {% csrf_token %}
         
            
          
            <div class="input-group " style=" align-items: center; padding-left: 200px; padding-right: 200px;">
           
            <input   required name="subscriberEmail"  type="email" class="form-control" placeholder="Your business email address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn" type="submit" name="subscriberEmailButton" id="button-addon2"  style="border-color: #000000;background-color: black; align-content: center; color: #FEBF00;">Sign up</button>
            
        </div>
        </form>
        </div>
      </div>

      </div>
    </div>
  </section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->


</body>

</html>
{% endblock %}