{% extends 'moses.html' %}
{% load static %}
{% block content %}


<section id="slider">
  <div class="container">
    <div class="row justify-content-between" >
       
          <p class="para">Terms and Conditions</p>
      
    </div>
 </div>
</section>
<main id="main">
    <section class="about" >
<div class="container">
   
        <p class="para3">By downloading, accessing or using Kikundi App, you agree to be bound by these terms and conditions, as well as our Privacy Policy and any additional terms and conditions that may apply to specific features of the app.</p>
        <h2 class="para4">User Eligibility</h2>
        <p class="para3">Kikundi App is intended for use by individuals who are 18 years of age or older. If you are under 18 years of age, you must obtain the consent of your parent or legal guardian before using Kikundi App.</p>
        <h2 class="para4">User Accounts</h2>
        <p class="para3">To use Kikundi App, you must create a user account. You are responsible for maintaining the confidentiality of your account information, including your login credentials. You agree to immediately notify us of any unauthorized use of your account or any other breach of security.</p>
        <h2 class="para4">Personal Information</h2>
        <p class="para3">Kikundi App may collect personal information from you, such as your name, email address, and financial information. By using Kikundi App, you consent to the collection and use of this information in accordance with our Privacy Policy.</p>
        <h2 class="para4">Prohibited Activities</h2>
        <p class="para3">You agree not to use Kikundi App for any illegal, fraudulent or unauthorized purpose. You also agree not to interfere with or disrupt Kikundi App or servers, or violate any applicable laws or regulations.</p>
        <h2 class="para4">Financial Transactions</h2>
        <p class="para3">Kikundi App allows you to perform financial transactions, such as transferring funds and paying bills. You are solely responsible for any transactions made using your account, and you agree to promptly notify us of any unauthorized transactions or errors.</p>
        <h2 class="para4">Fees and Charges</h2>
        <p class="para3">Kikundi App may charge fees for certain features or services. You will be notified of any applicable fees before completing a transaction. By using Kikundi App, you agree to pay any fees or charges that apply to your use of the app.</p>
        <h2 class="para4">Disclaimer of Warranties</h2>
        <p class="para3">Kikundi App is provided on an "as is" and "as available" basis, without any warranties of any kind, including but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
        <h2 class="para4">Limitation of Liability</h2>
        <p class="para3">In no event shall we be liable for any damages, including but not limited to direct, indirect, special, incidental, or consequential damages, arising out of or in connection with the use or inability to use Kikundi App.</p>
        <h2 class="para4">Governing Law</h2>
        <p class="para3">These terms and conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which we are incorporated, without giving effect to any principles of conflicts of law.</p>
        <h2 class="para4">Changes to Terms and Conditions</h2>
        <p class="para3">We reserve the right to modify these terms and conditions at any time, and your continued use of Kikundi App after any such changes constitutes your acceptance of the new terms and conditions.</p>
        <h2 class="para4">Termination</h2>
        <p class="para3">We reserve the right to terminate your use of Kikundi App at any time, without notice, for any reason, including but not limited to a breach of these terms and conditions.</p>
        <p class="para3">If you have any questions or concerns about these terms and conditions, please contact us at mambo@kikundi.co.tz</p>
        
</div>
    </section>
</main>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




<script>
var loader = document.getElementById("preloader");
 window.addEventListener("load",function(){
   loader.style.display = "none";
 })

</script>

<style>
#about
{
margin-left: 70px;
}
.para4{
    color: black !important;
}
  #slider
{
  background-color:#221B00;
  height: 300px ;
  padding-top: 100px;

}
@media (min-width: 1440px) {
  #slider {
    height: 300px !important;
    background-color:#221B00 !important;
  }
}

@media (max-width: 768px) {
  #slider {
    height: 350px !important;
    background-color:#221B00 !important;
  }
  }
@media (max-width: 450px) {
  #slider {
    height: 350px !important;
    background-color:#221B00 !important;
  }
  }
  @media (max-width: 380px) {
    #slider {
      height: 300px !important;
      background-color:#221B00 !important;
    }
    }
  
    @media (max-width: 330px) {
      #slider
 {
        height: 300px !important;
        background-color:#221B00 !important;
      }
      }

.slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #221B00;
  padding: 60px 0 0 0;
  background-image: url('./assets/img/slider.png');
}

 .slider1
 {
  padding-top: 130px !important; 
  align-items: center  !important; 
 }
@media (min-width: 1365px) {
  .slider {
    background-attachment: fixed;
  }
}




</style>

</body>

</html>
{% endblock %}